@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    
    --sign-out-button-hover-color: rgb(245, 65, 65);
    --membre-connecte-color: #7289da;

    --button-color: #7289da;
    --input-area-color: #202225;
    --background-container: #2f3136;
    --text-color: #36393f;
    --text-color2: #72767d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100vw;
    min-width: 100px;
    height: 100vh; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url(../../background/Background.png);
}

/*Container*/

.container {    
    position: fixed;
    max-width: 50vw;
    min-width: 50vw;
    height: 490px;
    gap: 5px;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    background-color: var(--background-container);
    border-radius: 2px;
    padding: 10px;
    z-index: 99;
}

.container > *,
div,
button,
textarea {
    border-radius: 2px;
}

/*Le chat - message - membres*/

.chat-members {
    display: flex;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    height: 300px;
}

#chat-container {
    padding: 5px;
    display: flex;
    width: 75%;
    flex-direction: column;
}
.chat-titre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    min-height: 40px;
    border-radius: 2px;
    background-color: var(--text-color2);
}
.chat-titre h1{
    font-size: 20px;
}
.afficher-message{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.members {
    width: 25%;
    padding: 5px;
    
}
.titre-membre {
    display: grid;
    place-items: center;
    color: var(--background-color);
    height: 40px;
    border-radius: 2px;
    background-color: var(--text-color2);
}
#membres_totaux {
    height: 90%;
    font-size: 20px;
    padding: 10px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}
#membres_totaux > *{
    cursor: pointer;
}
#membres_totaux > *:after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--button-color);  
    transform: scaleX(0);  
    transition: transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#membres_totaux > *:hover:after {
   transform: scaleX(1);
}
.msg {

    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
#membres_totaux::-webkit-scrollbar,
.afficher-message::-webkit-scrollbar{
     width: 5px;
}
#membres_totaux::-webkit-scrollbar-thumb,
.afficher-message::-webkit-scrollbar-thumb{
     background-color: var(--input-area-color);
}
.membre_get_connect {
    color: white;
    text-align: start;
}
.membre-deconnecte {
    color: white;
}

.membre-connecte {
    color: var(--membre-connecte-color);
}

/* Partie du bas pour la déconnexion et lancer la partie */

.message-submit {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 5px;   
}

#message-input{
    background-color: var(--text-color);
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    resize: none;
    text-indent: 10px;
    padding: 10px;
    color: white;
    font-weight: 600;
    overflow: hidden;
}	

#sign-out-btn,
.star-the-game{
    background-color: var(--button-color);
    font-weight: 500;
    border: 1px solid black;
    height: 55px;
}
#sign-out-btn {
    width: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#sign-out-btn:hover {
    background-color: var(--sign-out-button-hover-color);
}
.star-the-game {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

/* Points de vie joueur et touches */

.div-other-pts-vie{

    width: 800px;
    display: grid;
    place-items: center;
    position: absolute;
    left: 500;
    top: 10px;
}
.div-other-pts-vie > div{
    border-radius: 0;
}
.name-wizzard{
    background-color: blue;
}
.health{
    background-color: orange;
}
.button-afficher-touche{
    border: none;
    height: 40px;
    width: 200px;
    color: black;
    background-color: white;
    
    border-radius: 2px;
    z-index: 3001;
    font-size: 20px;
}

.name-wizzard2{
    background-color: grey;
}
.health2{
    background-color: cyan;
}

/* Container des touches pour les deux joueurs */

.container-touches{
    width: 100%;
    height: 100%;
    background-color: rgba(129, 129, 129, 0.863);
    display: none;
    justify-content: center;
    padding-top: 200px;
    gap: 50px;
    position: absolute;
    z-index: 3000;
}

.container-help {
    width: 400px;
    height: 70px;
    color: white;
    display: grid;
    place-items: center;
    background-color: var(--background-container);
    padding: 10px;
    gap: 40px;
}

.container-help2 {
    width: 400px;
    height: 70px;
    color: white;
    display: grid;
    place-items: center;
    background-color: var(--background-container);
    padding: 10px;
    gap: 40px;
}

.howToplay-Button2,
.howToplay-Button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: var(--button-color);
    color: black;
}

.clicked-button:active {
    background-color: black;
    color: white;
}
.container-info {
    display: flex;
    gap: 10px;
    text-align: start;
}

svg {
    width: 50px;
}

/* Pluie de pepega */

.Pluie-button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
}
.pepega{
    background-image: url(../../frog/pepega.png);
    background-size: 100% 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
}

.container-perso{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.decorations{
    width: 100px;
    height: 100px;
    position: absolute;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 243;
}

.vie{
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 104;

}
.blob{
    opacity: 1;
}


@media screen and (max-width: 400px) {
    
    .container{
        height: inherit;
    }
    .chat-members{
        display: block;
        width: 100%;
    }
   .members{
        padding: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 435px;
       
        background-color: var(--background-container);
   }
   #chat-container{
    width: 100%;
   }
   .membres_totaux{
    height: 50%;
    background-color: red;
    overflow-y: scroll;
   }
   .afficher-message{
        height: 100%;
   }
   
   
}
@media screen and (max-width: 769px) {
    #chat-container{
        font-size: 18px;
    }
    #membres_totaux {
        font-size: 11px;
        padding: 4px;
    }
    .titre-membre{
        font-size: 15px;
    }
   
}

@media screen and (max-width: 1100px) {
    body{
        background-position:bottom;
        background-size: cover;
    }
    .container{
        min-width: 80vw;
        height: 430px;
    }
    .star-the-game {
        display: none;
    }
    .div-other-pts-vie{
        display: none;
    }
    .Pluie-button{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 101;
    }
    .pepega,
    .container-perso,
    .decorations,
    .vie,
    .blob{
        display: none;
    }
    


}
